/**
 * SETTINGS
 *  - Color Variable
 *  - Font family
 *
 */


//  Color Variable
$black: #000;
$white: #FFF;
$red: #E7301C;
$green: #C9D4C5;
$green1: #221C25;
$light-green: #EDF4EA;
$yellow: #F7BC13;

$base-color: #062639;
$primary-color: #08150A;


// Font family
$josefinsans: 'Josefin Sans', sans-serif;
$cormorantgaramond: 'Cormorant Garamond', serif;
